transformers
langchain
redis
peft
evaluate
datasets
accelerate
mysql-connector-python
spacy
PyPDF2
chromadb
sentence_transformers 
cpm_kernels 
gradio 
mdtex2html 
sentencepiece 
accelerate
bitsandbytes